#header {
  display: flex;
  height: 400px; 
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #14001a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: white;
  font-size: 1em;
}