#navbar {
  display: flex;
  height: 120px; 
  width: 100%;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
span {
  font-size: 35px;
  font-family: 'Bungee', cursive;
}

#Write {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
}

#new {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFF;
  font-size: 0.75em;
  font-weight: 600;
  margin-left:0.5em;
  padding: 0;
  border: 0;
  background-color: #4056A1;
}

#bird {
  margin-left: 0.5em;
  padding: 0;
  width: 4.5em;
  
}

@media only screen and (max-width: 550px) {
  #navbar > span {
    font-size: 25px;
  }
  #Write {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 1023px) {
  #navbar {
    border-color: #0f0631;
    box-shadow: 0px 10px 10px #24146b;
    background-color: #14001a;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }

  #new {
    background-color: #14001a;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }
}